@media (min-width: 1400px) {
    .container{
        max-width: 1064px !important;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 992px !important;
    }
}
:root {
    --grey1: #cccccc;
    --grey2: #ececec;
    --grey3: #f5f5f5;
    --s-color: #8a2e40;
    --po-color: #2e67ad;
    --pr-color: #eeeeee;
    --si-color: #656565;
    --g-color: #D8943B;
    --entity-border-size: 2px;
    --entity-outline-size: 2px;
    --single-entity-border-size: 2px;
}
html{
    width: 100%;
}
.no-margin{
    margin: 0 !important;
}
/* ALL PAGES */
main .container h1{
    text-align: center;
}
main h1{
    text-align: center;
}
.no-padding{
    padding:0 !important;
}
main{
    min-height: 80vh;
    padding-bottom: 50px;
}
main>.container>h1{
    margin-top: 160px;
}
.button-wrapper{
    margin-top: 2rem;
    text-align: center;
}
.button{
    text-decoration: none;
    color: #414D5D;
    display: inline-block;
    min-width: 200px;
    text-align:center;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0);
    /*border-radius: 0.25rem;*/
    transition: background-color 250ms linear;
}
.button:hover{
    background-color: #414D5D;
    color: #fff;
    transition: background-color 250ms linear;
}
/*main>div>section:first-child{
    padding-top: 160px;
}*/

/*
*   Dinamic colors
*/
.outline-stanovnici{
    outline: var(--entity-outline-size) dashed var(--s-color);
    outline-offset: -10px;
}
.single-border-stanovnici{
    border: var(--single-entity-border-size) solid var(--s-color);
}
.border-s-vesti{
    border-bottom: var(--entity-border-size) solid var(--s-color);
}
.single-border-s-vesti{
    border: var(--single-entity-border-size) solid var(--s-color);
}
.border-s-najave-dogadjaja{
    border-bottom: var(--entity-border-size) solid var(--s-color);
}
.border-s-g-aktuelnosti{
    border-bottom: var(--entity-border-size) solid var(--s-color);
}
.single-border-s-najave-dogadjaja{
    border: var(--single-entity-border-size) solid var(--s-color);
}
.outline-s-pitanja{
    outline: var(--entity-outline-size) dashed var(--s-color);
}
.outline-posetioci{
    outline: var(--entity-outline-size) dashed var(--po-color);
    outline-offset: -10px;
}
.single-border-posetioci{
    border: var(--single-entity-border-size) solid var(--po-color);
}
.border-po-vesti{
    border-bottom: var(--entity-border-size) solid var(--po-color);
}
.single-border-po-vesti{
    border: var(--single-entity-border-size) solid var(--po-color);
}
.border-po-najave-dogadjaja{
    border-bottom: var(--entity-border-size) solid var(--po-color);
}
.border-po-g-aktuelnosti{
    border-bottom: var(--entity-border-size) solid var(--po-color);
}
.single-border-po-najave-dogadjaja{
    border: var(--single-entity-border-size) solid var(--po-color);
}
.outline-po-pitanja{
    outline: var(--entity-outline-size) dashed var(--po-color);
}
.outline-privrednici{
    outline: var(--entity-outline-size) dashed var(--pr-color);
    outline-offset: -10px;
}
.single-border-privrednici{
    border: var(--single-entity-border-size) solid var(--pr-color);
}
.border-pr-vesti{
    border-bottom: var(--entity-border-size) solid var(--pr-color);
}
.single-border-pr-vesti{
    border: var(--single-entity-border-size) solid var(--pr-color);
}
.border-pr-najave-dogadjaja{
    border-bottom: var(--entity-border-size) solid var(--pr-color);
}
.border-pr-g-aktuelnosti{
    border-bottom: var(--entity-border-size) solid var(--pr-color);
}
.single-border-pr-najave-dogadjaja{
    border: var(--single-entity-border-size) solid var(--pr-color);
}
.outline-pr-pitanja{
    outline: var(--entity-outline-size) dashed var(--pr-color);
}
.outline-lokalna-samouprava{
    outline: var(--entity-outline-size) dashed var(--si-color);
    outline-offset: -10px;
}
.single-border-lokalna-samouprava{
    border: var(--single-entity-border-size) solid var(--si-color);
}
.border-ls-vesti{
    border-bottom: var(--entity-border-size) solid var(--si-color);
}
.single-border-ls-vesti{
    border: var(--single-entity-border-size) solid var(--si-color);
}
.border-ls-najave-dogadjaja{
    border-bottom: var(--entity-border-size) solid var(--si-color);
}
.border-pr-g-aktuelnosti{
    border-bottom: var(--entity-border-size) solid var(--pr-color);
}
.single-border-ls-najave-dogadjaja{
    border: var(--single-entity-border-size) solid var(--si-color);
}
.outline-ls-pitanja{
    outline: var(--entity-outline-size) dashed var(--si-color);
}
.outline-servisne-informacije{
    outline: var(--entity-outline-size) dashed var(--g-color);
    outline-offset: -10px;
}
.single-border-servisne-informacije{
    border: var(--single-entity-border-size) solid var(--g-color);
}
.border-si-vesti{
    border-bottom: var(--entity-border-size) solid var(--g-color);
}
.single-border-si-vesti{
    border: var(--single-entity-border-size) solid var(--g-color);
}
.border-si-najave-dogadjaja{
    border-bottom: var(--entity-border-size) solid var(--g-color);
}
.border-si-g-aktuelnosti{
    border-bottom: var(--entity-border-size) solid var(--g-color);
}
.single-border-si-najave-dogadjaja{
    border: var(--single-entity-border-size) solid var(--g-color);
}
.outline-g-pitanja{
    outline: var(--entity-outline-size) dashed var(--g-color);
}
.menu-item-container a label{
    border: 2px solid rgba(0, 0, 0, 0);
}
.menu-item-container:hover .link-stanovnici{
    box-shadow: inset 0 -2px 0 var(--s-color);
}
.menu-item-container:hover .link-posetioci{
    box-shadow: inset 0 -2px 0 var(--po-color);
}
.menu-item-container:hover .link-privrednici{
    box-shadow: inset 0 -2px 0 var(--pr-color);
}
.menu-item-container:hover .link-lokalna-samouprava{
    box-shadow: inset 0 -2px 0 var(--si-color);
}
.menu-item-container:hover .link-servisne-informacije{
    box-shadow: inset 0 -2px 0 var(--g-color);
}
/*
*   Dinamic colors - END
*/

/* Pages sections */
.pages-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px 0;
}
.page-button-wrapper{
    text-decoration: none;
    color: #414D5D;
}
.page-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 180px;
    margin: 5px;
    padding: 20px;
    background-color: var(--grey2);
}
.page-custom img{
    width: 70px;
    margin-bottom: 5px;
}
/* Pages sections END */

/* Question fields section */

.questions-fields{
    height: fit-content;
    margin: 0 !important;
}
.question-field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none !important; 
}
.question-field-link{
    padding: 10px 10px;
    margin: 0 !important;
    min-width: 100%;
    text-decoration: none;
}
.question-field-text-wrapper{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000;
    flex-direction: row;
    align-content: center;
    margin: 0;
}
.question-field-text-wrapper span{
    font-size: 18px;
    font-weight: 600;
    color: #414D5D;
}
.question-field-image {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.question-field-image img{
    width: 40px;
}
.question-field-children{
    display: none;
    position: relative;
    list-style-type: none;
    padding-left: 80px;
    margin-top: -2px;
}
.question-field-child a{
    color: #0d6efd !important;
}
.question-field-questions{
    position: relative;
    list-style: none;
}
.tab-breadcrumbs-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
#back-to-question-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    margin: 0 !important;
    text-decoration: none;
}
/* Izgled Bootstrap tabova */ 
.nav-tabs{
    display: flex;
    justify-content: space-between;
    border-bottom: none !important;
}
.nav-item{
    background-color: #cccccc;
    padding: 0 !important;
    width: 33%;
    height: 60px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-item i{
    margin-right: 0px;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #414D5D;
    margin: 0 !important;
    border: none !important;
}
.nav-link:hover{
    color: #414D5D !important;
    border: none !important;
}
.nav-link.active{
    height: 100% !important;
    color: #fff !important;
    background-color: #414D5D !important;
    border: 0 !important;
}
.tab-content{
    position: relative;
    background-color: var(--grey3);
    min-height: 40vh;
}
#spinner{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#spinner i{
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.tab-inner-content{
    padding: 1vw;
}
.tab-breadcrumbs{
    display: flex;
    align-items: center;
    padding-left: 1vw;
    background-color: var(--grey2);
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #cccccc;
}
.tab-breadcrumbs-actions i{
    margin-right: 15px;
}
.tab-title{
    display: none;
}
@media only screen and (min-width: 512px) {
    .tab-title{
      display: block;
    }
    .nav-item i{
        margin-right: 10px;
    }
}
/* Izgled Bootstrap tabova - Kraj */

/* question-fields section END */

/* News & Notices */
.news-notices-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.news-container{
    width: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
}
.news-container h2{
    text-align: center;
}
.news{
    padding-bottom: 10px;
}
.news-picture{
    margin-top: 2rem;
    height: 200px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
.news-date{
    color: #808080;
}
.notices-container{
    width: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
}
.notices-container h2{
    text-align: center;
}
.notices{
    padding-bottom: 10px;
}
.notices-picture{
    margin-top: 2rem;
    height: 200px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
.notices-date{
    color: #808080;
}
.more-link{
    line-height: 50px;
}
.city-news-container{
    width: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
}
.city-news-container h2 {
    text-align: center;
}
.city-news{
    padding-bottom: 10px;
}
.city-news-picture{
    margin-top: 2rem;
    height: 300px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
/* News & Notices End*/
/* ALL PAGES END */

/* FRONT PAGE */

/* FRONT PAGE END */

/* SINGLE POST PAGE */
.single-wrapper h1{
    text-align: center;
}
.relevant{
    padding: 10px 0;
}
/* SINGLE POST PAGE END*/

#pagination-wrapper{
    text-align: center;
    margin: 20px 0;
    line-height: 40px;
}
.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
}
.current {
    background: #2C394B;
    color: white;
}
#footer{
    background-color: #414d5d;
    min-height: 200px;
    color: #fff;
    padding-bottom: 160px;
}
#footer h5{
    text-align: center;
}
#footer li{
    list-style-type:none;
    
}
img[class*='wp-image-'] {
    width: 100%;
    height: 25%;
}
@media only screen and (min-width: 1290px) {
    .pages-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 50px 0;
    }
}
@media only screen and (min-width: 1200px) {
    .archive-wrapper{
        margin-top: 160px;
    }
}
@media only screen and (min-width: 992px) {
    .pages-wrapper{
        justify-content: space-between;
    }
    .news-notices-wrapper{
        justify-content: space-between;
    }
    .notices-container{
        width: 45%;
    }
    .news-container{
        width: 45%;
    }
    .aside-wrapper{
        position: -webkit-sticky;
        position: sticky;
        top: 160px !important;
    }
}
@media only screen and (min-width: 576px) {
    .hero{
        background-position: 100% 35%;
    }
}